*{
    margin:0;
    padding: 0;
}
body{
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    font-family: 'Trebuchet MS';
}
header{
    background-color: rgba(56,90,140,0.8);
    color: white;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header a {
    color: white;
    font-size: 58%;
    text-decoration: none;

}
header  .seprator::after{
    content: '|';
    color:  rgb(159, 210, 239);
    font-size: 10px;
    display: flex;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    padding-left: 3px;
    letter-spacing: 2px;
    
}
section
{
    width: 54%;
}
#logo-image
{
    padding-top: 6px;
    width: 25%;
}
nav{
    width: 100%;
    border: 1px solid gray;
    outline: 1px solid rgba(128,128,128,0.28);
    outline-offset: -5.5px;
}
.nav-list-item{
    border-radius: 10%;
}
.nav-list-item:hover{
    background-color:  #355372;

}
.container-fluid ul span::after{
    content:'|';
    color: white;
    display: flex;
    padding-top: 18px;
}
.active{
    background-color: #355372;
}
.nav-item a{
    font-size: 0.9rem;
    color: rgb(159, 210, 239);

}
.active-bar:hover{
    background-color: red;
    opacity: 1;
}
footer{
    font-size: 68%;
    color: rgba(255,255,255,0.7);;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 66, 110);
}
footer .footer  .seprator::after{
    content:'|';
    color:rgba(255,255,255,0.7);
    padding-left:4px;
    padding-right:2px;
}
footer .footer a{
    color: white;
}
.navbar{
    --bs-navbar-padding-y:0;
    background-color: rgba(20, 44, 69, 0.95);

}
.main-content{
    background: linear-gradient(rgba(0,0,0,0.5) ,rgba(14, 34, 58, 0.91) 20%);
    background-color: rgba(14, 34, 58, 0.91);
    outline: 1px solid rgba(128,128,128,0.28);
    outline-offset: -5.5px;
}
.main-content {
    font-size: 73%;
    line-height: 18px;
    font-weight: lighter;
    color: white;
}
.main-heading{
    font-size: 0.9rem; 
    color: rgb(159, 210, 239);
}
.contact-us{
    /* border: 1px solid red; */
    width: 43%;
    background-color: rgb(20, 93, 118);
    background:linear-gradient(rgb(20, 93, 118) ,rgba(0,0,0,0.5) 99%);
    box-sizing: border-box;
    border-radius:4px;
    text-shadow: 2px;
    
}
.bottom-container{
    box-sizing: border-box;
    background-color: rgba(39, 65, 96, 0.1);
}

strong{
    color: rgba(178,195,204);
}
.row-list-item{
    color: rgba(255, 255, 255, 0.7);
}
.nav-list-item{
    border-radius: 10%;
}
@media only screen and (max-width:1150px){
    .nav-item a{
        font-size: 60%;
        color: rgb(159, 210, 239);
    }
    
}
@media only screen and (max-width:1200px) {
    body{
        height:100%;
    }
}
@media only screen and (max-width:992px){
    .nav-item a{
        font-size: 40%;
        color: rgb(159, 210, 239);
    }
     
 }
 @media only screen and (max-width:767px){
    .container-fluid ul span::after{
        content:'';
        color: white;
        padding: 0 !important;
        display: flex;
    }
    .nav-list-item {
        margin:0  !important;
        padding: 0 !important;
    }
    #logo-image{
        margin: 0 !important;
        padding: 0 !important;
        display: flex;
        top: -8%;
    }
     
 }